<!DOCTYPE html>
<html>
    <head>
        <title>CyberPatriot Scores</title>
        <!-- From original scoreoard, could change -->
        <script src="//www.google.com/jsapi" type="text/javascript"></script>
        <style>
td, th {
    border-collapse: collapse;
    border: solid 1px black;
    padding: 5px;
}
.chart {
    width: 100px;
    height: 60px;
}
.chart text,
.chart svg > g:nth-of-type(2) {
    visibility: hidden;
    display: none;
}
.chart path {
    visibility: visible;
}
        </style>
    </head>
    <body>
        {% for team in teams %}
        <h2>{{ team.name }} - {{ team.number }} // {{ team.score }} in {{ team.play_time }}</h2>
        {{ team.main_table|safe }}
        <!-- From scoreboard partly -->
        <div class="chart" id="chart_div_{{ team.number }}"></div>
        {{ team.chart_script|safe }}
        {% endfor %}
    </body>
</html>
